[submodule "submodules/Dollar.swift"]
	path = submodules/Dollar.swift
	url = https://github.com/ankurp/Dollar.swift.git
[submodule "submodules/SnapKit"]
	path = submodules/SnapKit
	url = https://github.com/SnapKit/SnapKit.git
[submodule "submodules/Quick"]
	path = submodules/Quick
	url = https://github.com/Quick/Quick.git
[submodule "submodules/Nimble"]
	path = submodules/Nimble
	url = https://github.com/Quick/Nimble.git
